@import url(./base.css);
@import url(./variables.css);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  line-height: 1.6rem;
  color: var(--text-color);
  background-color: var(--background-color);
}

#app {
  background-color: var(--background-color);
  padding: 1rem;
}
